* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-image: url(./img/parallax-bg-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: white;
    padding-top: 100px;
}


.bros {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon {
    margin-right: 20px;
    font-size: 24px;
}

a {
    text-decoration: none !important;
}

.sot {
    width: 100%;
}

.box {
    margin: 30px 0;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 20px 40px;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border: 10px solid #000;
    border-radius: 20px;
}

@media (max-width:768px) {
    .header {
        height: auto;
    }
}